@page "/Terms"

<!-- ======= Terms of Services ======= -->
<section>
	<div class="container" data-aos="fade-up">
		<div class="section-header" style="text-align: center;">
			<h1 style="font-weight: bold; text-decoration: underline;">Terms of Service</h1>
		</div>
		<br />
		<div>
			<p>
				The terms and condition shall be governed by Indian Laws. Any and all disputes, controversies and conflicts ("Disputes") arising out of the Program shall be settled through regular judicial process 
				in kerala and shall have exclusive jurisdiction to any matter arising hereof and entity liability shall be limited to the extent of registration fees charged and received by entity from the customers.
			</p>
		</div>
	</div>
</section>
