@using Microsoft.AspNetCore.Components.Web
@namespace Gd.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">	
<head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="/Template/img/KEF_logo1-removebg-preview 2.png" rel="icon">
	<link href="/Template/img/KEF_logo1-removebg-preview 2.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
		  rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="~/Template/vendor/aos/aos.css" rel="stylesheet">
	<link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/Template/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="~/Template/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="~/Template/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="~/Template/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="~/Template/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="~/Template/css/style.css" rel="stylesheet">

		
</head>
<body>
	@RenderBody()

	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top ">
		<div class="container d-flex align-items-center justify-content-lg-between">
			<h1 class="logo me-auto me-lg-0"><a href="">Kef<span>.</span></a></h1>
			<a class="logo me-auto">
				<img src="/Template/img/KEF_logo1-removebg-preview.png" alt="logo" class="img-fluid" style="transform: scale(1.5);">
			</a>

			<nav id="navbar" class="navbar order-last order-lg-0">
				<ul>
					<li><a class="nav-link scrollto" href="/">Home</a></li>
					<li><a class="nav-link scrollto" href="/#about">About</a></li>
					<li><a class="nav-link scrollto" href="/#services">Services</a></li>
					<li><a class="nav-link scrollto" href="/#team">Team</a></li>
					@*<li class="dropdown">
						<a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
						<ul>
							<li><a href="#">Drop Down 1</a></li>
							<li class="dropdown">
								<a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
								<ul>
									<li><a href="#">Deep Drop Down 1</a></li>
									<li><a href="#">Deep Drop Down 2</a></li>
									<li><a href="#">Deep Drop Down 3</a></li>
									<li><a href="#">Deep Drop Down 4</a></li>
									<li><a href="#">Deep Drop Down 5</a></li>
								</ul>
							</li>
							<li><a href="#">Drop Down 2</a></li>
							<li><a href="#">Drop Down 3</a></li>
							<li><a href="#">Drop Down 4</a></li>
						</ul>
					</li>*@
					<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
				</ul>
				<i class="bi bi-list mobile-nav-toggle"></i>
			</nav><!-- .navbar -->
		</div>
	</header><!-- End Header -->
	<!-- ======= Footer ======= -->
	<footer id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row">

					<div class="col-lg-3 col-md-6">
						<div class="footer-info">
							<h3>KEf<span>.</span></h3>
							<p>
								Calicut Airport <br>
								Karipur 673647, India<br><br>
								<strong>Phone:</strong> +91 9895114422<br>
								<strong>Email:</strong> info@example.com<br>
							</p>
							<div class="social-links mt-3">
								<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
								<a href="https://www.facebook.com/keralaexportersforum" class="facebook"><i class="bx bxl-facebook"></i></a>
								<a href="https://www.instagram.com/renil_muhammad" class="instagram"><i class="bx bxl-instagram"></i></a>
								<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
								<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
							</div>
						</div>
					</div>

					<div class="col-lg-2 col-md-6 footer-links">
						<h4>Useful Links</h4>
						<ul>
							@*<li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="/">Home</a></li>
							<li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="#about">About us</a></li>
							<li><i class="bx bx-chevron-right"></i> <a class="nav-link scrollto" href="/services">Services</a></li>*@
							<li><i class="bx bx-chevron-right"></i> <a href="/Terms">Terms of service</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="/PrivacyPolicy">Privacy policy</a></li>
						</ul>
					</div>

					<div class="col-lg-3 col-md-6 footer-links">
						<h4>Our Services</h4>
						<ul>
							<li><i class="bx bx-chevron-right"></i> <a href="/Services">FIEO Membership - RCMC</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="/Services">Certificate of Origin</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="/Services">Events - Confereces</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="/Services">B2B Meets & Semiars</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="/Services">Trade Quries</a></li>
							<li><i class="bx bx-chevron-right"></i> <a href="/Services">More..</a></li>
						</ul>
					</div>

					@*<div class="col-lg-4 col-md-6 footer-newsletter">
						<h4>Our Newsletter</h4>
						<p>Sign up to hear from us about specials and events.</p>
						<form action="" method="post">
							<input type="email" name="email"><input type="submit" value="Subscribe">
						</form>

					</div>*@
				</div>
			</div>
		</div>

		<div class="container">
			<div class="copyright">
				&copy; Copyright <strong><span>2023 Kerala Exporters' forum</span></strong> - All Rights Reserved
			</div>
			@*<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
			</div>*@
		</div>
	</footer><!-- End Footer -->

	<!-- Vendor JS Files -->
	<script src="~/Template/vendor/purecounter/purecounter_vanilla.js"></script>
	<script src="~/Template/vendor/aos/aos.js"></script>
	<script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/Template/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="~/Template/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="~/Template/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="~/Template/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="~/Template/js/main.js"></script>
	<script src="_framework/blazor.server.js"></script>

	
</body>
</html>
